
# Code Warrior directories #
###########################
finalProject/bin
finalProject/cmd
finalProject/finalProject_Data
finalProject/prm

# Code Warrior Project Files #
##############################
*.hwl
*.mem
*.mcp
*.ini

# Sublime Configuration Files #
###############################
*.sublime-project
*.sublime-workspace
